[submodule "ecb-slave-c-server/crc-c"]
	path = ecb-slave-c-server/crc-c
	url = git@github.com:jodzik/crc-c.git
[submodule "ecb-slave-c-server/framer7b-c"]
	path = ecb-slave-c-server/framer7b-c
	url = git@github.com:jodzik/framer7b-c.git
[submodule "ecb-slave-c-server/byteorder-c"]
	path = ecb-slave-c-server/byteorder-c
	url = git@github.com:jodzik/byteorder-c.git
[submodule "ecb-slave-c-server/ecbs-c"]
	path = ecb-slave-c-server/ecbs-c
	url = git@github.com:jodzik/ecbs-c.git
[submodule "ecb-slave-c-server/safe-c"]
	path = ecb-slave-c-server/safe-c
	url = git@github.com:jodzik/safe-c.git
[submodule "ecb-slave-c-server/sockpp"]
	path = ecb-slave-c-server/sockpp
	url = https://github.com/fpagliughi/sockpp.git
